
/* Your CSS Code here. */
 div.heading{
	 background:purple;
	 width:200px;
	 padding:10px;
	 color:white;
	    font-size:20px;
	 border-left-width: thick;
	   border-left:5px solid green ;
	 
	 
 
	
}